<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(MainLayout).Assembly }">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <Login/>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>

        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="d-flex flex-row justify-content-center align-items-center"
                     style="height: calc(80lvh - var(--mud-appbar-height));">
                    <h3 role="alert" class="text-center">Sorry, there's nothing at this address</h3>
                </div>
            </LayoutView>
        </NotFound>

    </Router>
</CascadingAuthenticationState>
